version: 7.0.4

type: DeclarativeSource

description: >-
  The Zoho Books connector  enables seamless integration of financial data,
  automating the flow of invoices, payments, expenses, and bank transactions
  into your data systems. With this connector, businesses can streamline
  bookkeeping processes, ensuring accurate financial reporting and real-time
  insights.

check:
  type: CheckStream
  stream_names:
    - users

definitions:
  linked:
    HttpRequester:
      url_base: https://www.zohoapis.{{ config['region'] }}/books/v3
      authenticator:
        type: OAuthAuthenticator
        client_id: "{{ config[\"client_id\"] }}"
        grant_type: refresh_token
        client_secret: "{{ config[\"client_secret\"] }}"
        refresh_token: "{{ config[\"refresh_token\"] }}"
        expires_in_name: expires_in
        access_token_name: access_token
        refresh_request_body: {}
        token_refresh_endpoint: https://accounts.zoho.{{ config['region'] }}/oauth/v2/token
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          field_name: per_page
          inject_into: request_parameter
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        pagination_strategy:
          type: PageIncrement
          page_size: 200
          start_from_page: 1
          inject_on_first_request: true

streams:
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /users
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    primary_key:
      - user_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - user_id
        properties:
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          role_id:
            type:
              - string
              - "null"
          user_id:
            type: string
          photo_url:
            type:
              - string
              - "null"
          user_role:
            type:
              - string
              - "null"
          user_type:
            type:
              - string
              - "null"
          is_employee:
            type:
              - boolean
              - "null"
          is_super_admin:
            type:
              - boolean
              - "null"
          invitation_type:
            type:
              - string
              - "null"
          is_current_user:
            type:
              - boolean
              - "null"
          is_vendor_segmented:
            type:
              - boolean
              - "null"
          is_customer_segmented:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: banking
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /bankaccounts
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - bankaccounts
    primary_key:
      - account_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - account_id
        properties:
          balance:
            type:
              - number
              - "null"
          bank_name:
            type:
              - string
              - "null"
          is_active:
            type:
              - boolean
              - "null"
          account_id:
            type: string
          bcy_balance:
            type:
              - number
              - "null"
          currency_id:
            type:
              - string
              - "null"
          feed_status:
            type:
              - string
              - "null"
          account_code:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          account_type:
            type:
              - string
              - "null"
          bank_balance:
            type:
              - number
              - "null"
          consent_info:
            type:
              - object
              - "null"
            properties:
              is_consent_expired:
                type:
                  - string
                  - "null"
              consent_remaining_days:
                type:
                  - string
                  - "null"
          is_beta_feed:
            type:
              - boolean
              - "null"
          currency_code:
            type:
              - string
              - "null"
          account_number:
            type:
              - string
              - "null"
          routing_number:
            type:
              - string
              - "null"
          is_direct_paypal:
            type:
              - boolean
              - "null"
          is_paypal_account:
            type:
              - boolean
              - "null"
          is_primary_account:
            type:
              - boolean
              - "null"
          partner_bank_source:
            type:
              - string
              - "null"
          total_unprinted_checks:
            type:
              - number
              - "null"
          feeds_last_refresh_date:
            type:
              - string
              - "null"
          statement_suggestion_count:
            type:
              - number
              - "null"
          uncategorized_transactions:
            type:
              - number
              - "null"
          partner_bank_source_formatted:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: organizations
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /organizations
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - organizations
    primary_key:
      - organization_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - organization_id
        properties:
          version:
            type:
              - string
              - "null"
          mode:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          source:
            type:
              - number
              - "null"
          AppList:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          country:
            type:
              - string
              - "null"
          org_type:
            type:
              - string
              - "null"
          plan_name:
            type:
              - string
              - "null"
          plan_type:
            type:
              - number
              - "null"
          time_zone:
            type:
              - string
              - "null"
          org_action:
            type:
              - string
              - "null"
          state_code:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          isOrgActive:
            type:
              - boolean
              - "null"
          is_solo_org:
            type:
              - boolean
              - "null"
          plan_period:
            type:
              - string
              - "null"
          user_status:
            type:
              - number
              - "null"
          contact_name:
            type:
              - string
              - "null"
          country_code:
            type:
              - string
              - "null"
          is_free_zone:
            type:
              - boolean
              - "null"
          is_ziedition:
            type:
              - boolean
              - "null"
          org_settings:
            type:
              - boolean
              - "null"
          zi_zb_client:
            type:
              - number
              - "null"
          zoho_one_org:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
            items:
              type:
                - object
                - "null"
              properties:
                index:
                  type:
                    - number
                    - "null"
                label:
                  type:
                    - string
                    - "null"
                value:
                  type:
                    - string
                    - "null"
          is_org_active:
            type:
              - boolean
              - "null"
          language_code:
            type:
              - string
              - "null"
          zi_zb_edition:
            type:
              - number
              - "null"
          is_default_org:
            type:
              - boolean
              - "null"
          is_sku_enabled:
            type:
              - boolean
              - "null"
          sales_tax_type:
            type:
              - string
              - "null"
          currency_format:
            type:
              - string
              - "null"
          currency_symbol:
            type:
              - string
              - "null"
          field_separator:
            type:
              - string
              - "null"
          organization_id:
            type: string
          partners_domain:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          can_sign_invoice:
            type:
              - boolean
              - "null"
          is_trial_expired:
            type:
              - boolean
              - "null"
          is_zpayroll_grid:
            type:
              - boolean
              - "null"
          custom_field_type:
            type:
              - number
              - "null"
          isOrgNotSupported:
            type:
              - boolean
              - "null"
          is_dsign_required:
            type:
              - boolean
              - "null"
          is_tax_registered:
            type:
              - boolean
              - "null"
          tax_group_enabled:
            type:
              - boolean
              - "null"
          version_formatted:
            type:
              - string
              - "null"
          is_designated_zone:
            type:
              - boolean
              - "null"
          is_user_accountant:
            type:
              - boolean
              - "null"
          can_change_timezone:
            type:
              - boolean
              - "null"
          org_joined_app_list:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          time_zone_formatted:
            type:
              - string
              - "null"
          account_created_date:
            type:
              - string
              - "null"
          is_gst_india_version:
            type:
              - boolean
              - "null"
          is_search360_enabled:
            type:
              - string
              - "null"
          can_show_document_tab:
            type:
              - boolean
              - "null"
          is_hsn_or_sac_enabled:
            type:
              - boolean
              - "null"
          is_registered_for_gst:
            type:
              - boolean
              - "null"
          is_registered_for_tax:
            type:
              - boolean
              - "null"
          user_status_formatted:
            type:
              - string
              - "null"
          digital_signature_mode:
            type:
              - string
              - "null"
          org_created_app_source:
            type:
              - number
              - "null"
          fiscal_year_start_month:
            type:
              - number
              - "null"
          is_user_dsign_mandatory:
            type:
              - boolean
              - "null"
          is_quick_setup_completed:
            type:
              - boolean
              - "null"
          is_trial_period_extended:
            type:
              - boolean
              - "null"
          is_invoice_pmt_tds_allowed:
            type:
              - boolean
              - "null"
          is_scan_preference_enabled:
            type:
              - boolean
              - "null"
          account_created_date_formatted:
            type:
              - string
              - "null"
          is_export_with_payment_enabled:
            type:
              - boolean
              - "null"
          is_international_trade_enabled:
            type:
              - boolean
              - "null"
          is_sales_inclusive_tax_enabled:
            type:
              - boolean
              - "null"
          is_sales_reverse_charge_enabled:
            type:
              - boolean
              - "null"
          is_registered_for_composite_scheme:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: contacts
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /contacts
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - contacts
    primary_key:
      - contact_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - contact_id
        properties:
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          mobile:
            type:
              - string
              - "null"
          pan_no:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          twitter:
            type:
              - string
              - "null"
          website:
            type:
              - string
              - "null"
          facebook:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          contact_id:
            type: string
          first_name:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          contact_name:
            type:
              - string
              - "null"
          contact_type:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          ach_supported:
            type:
              - boolean
              - "null"
          currency_code:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
          customer_name:
            type:
              - string
              - "null"
          language_code:
            type:
              - string
              - "null"
          payment_terms:
            type:
              - number
              - "null"
          portal_status:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          custom_field_hash:
            type:
              - object
              - "null"
          customer_sub_type:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          payment_terms_label:
            type:
              - string
              - "null"
          contact_type_formatted:
            type:
              - string
              - "null"
          created_time_formatted:
            type:
              - string
              - "null"
          is_linked_with_zohocrm:
            type:
              - boolean
              - "null"
          language_code_formatted:
            type:
              - string
              - "null"
          portal_status_formatted:
            type:
              - string
              - "null"
          outstanding_payable_amount:
            type:
              - number
              - "null"
          last_modified_time_formatted:
            type:
              - string
              - "null"
          outstanding_receivable_amount:
            type:
              - number
              - "null"
          unused_credits_payable_amount:
            type:
              - number
              - "null"
          outstanding_payable_amount_bcy:
            type:
              - number
              - "null"
          unused_credits_receivable_amount:
            type:
              - number
              - "null"
          outstanding_receivable_amount_bcy:
            type:
              - number
              - "null"
          unused_credits_payable_amount_bcy:
            type:
              - number
              - "null"
          unused_credits_receivable_amount_bcy:
            type:
              - number
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: bills
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /bills
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - bills
    primary_key:
      - bill_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - bill_id
          - last_modified_time
        properties:
          date:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          balance:
            type:
              - number
              - "null"
          bill_id:
            type: string
          due_date:
            type:
              - string
              - "null"
          due_days:
            type:
              - string
              - "null"
          tds_total:
            type:
              - number
              - "null"
          vendor_id:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          bill_number:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          entity_type:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          is_uber_bill:
            type:
              - boolean
              - "null"
          currency_code:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          is_tally_bill:
            type:
              - boolean
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          attachment_name:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          reference_number:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          last_modified_time:
            type: string
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          unprocessed_payment_amount:
            type:
              - number
              - "null"
          is_bill_reconciliation_violated:
            type:
              - boolean
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_modified_time
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_time_option:
        type: RequestOption
        field_name: last_modified_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
  - type: DeclarativeStream
    name: estimates
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /estimates
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - estimates
    primary_key:
      - estimate_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - estimate_id
          - last_modified_time
        properties:
          date:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          estimate_id:
            type: string
          expiry_date:
            type:
              - string
              - "null"
          template_id:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          accepted_date:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          declined_date:
            type:
              - string
              - "null"
          template_type:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          estimate_number:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          zcrm_potential_id:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          last_modified_time:
            type: string
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          zcrm_potential_name:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_modified_time
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      start_time_option:
        type: RequestOption
        field_name: last_modified_time
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
  - type: DeclarativeStream
    name: items
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /items
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - items
    primary_key:
      - item_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - item_id
        properties:
          description:
            type:
              - string
              - "null"
          sku:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          rate:
            type:
              - number
              - "null"
          unit:
            type:
              - string
              - "null"
          source:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          tax_id:
            type:
              - string
              - "null"
          item_id:
            type: string
          tax_name:
            type:
              - string
              - "null"
          item_name:
            type:
              - string
              - "null"
          item_type:
            type:
              - string
              - "null"
          account_id:
            type:
              - string
              - "null"
          image_name:
            type:
              - string
              - "null"
          image_type:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          product_type:
            type:
              - string
              - "null"
          purchase_rate:
            type:
              - number
              - "null"
          reorder_level:
            type:
              - string
              - "null"
          stock_on_hand:
            type:
              - number
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          tax_percentage:
            type:
              - number
              - "null"
          available_stock:
            type:
              - number
              - "null"
          zcrm_product_id:
            type:
              - string
              - "null"
          image_document_id:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          purchase_account_id:
            type:
              - string
              - "null"
          purchase_description:
            type:
              - string
              - "null"
          purchase_account_name:
            type:
              - string
              - "null"
          actual_available_stock:
            type:
              - number
              - "null"
          is_linked_with_zohocrm:
            type:
              - boolean
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: invoices
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /invoices
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoices
    primary_key:
      - invoice_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - invoice_id
          - date
        properties:
          type:
            type:
              - string
              - "null"
          date:
            type: string
          email:
            type:
              - string
              - "null"
          phone:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          balance:
            type:
              - number
              - "null"
          country:
            type:
              - string
              - "null"
          due_date:
            type:
              - string
              - "null"
          due_days:
            type:
              - string
              - "null"
          documents:
            type:
              - string
              - "null"
          adjustment:
            type:
              - number
              - "null"
          color_code:
            type:
              - string
              - "null"
          created_by:
            type:
              - string
              - "null"
          invoice_id:
            type: string
          is_emailed:
            type:
              - boolean
              - "null"
          is_pre_gst:
            type:
              - boolean
              - "null"
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          invoice_url:
            type:
              - string
              - "null"
          template_id:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          no_of_copies:
            type:
              - number
              - "null"
          project_name:
            type:
              - string
              - "null"
          updated_time:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          custom_fields:
            type:
              - array
              - "null"
          customer_name:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          schedule_time:
            type:
              - string
              - "null"
          template_type:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          invoice_number:
            type:
              - string
              - "null"
          reminders_sent:
            type:
              - number
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          billing_address:
            type:
              - object
              - "null"
            properties:
              fax:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              address:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              street2:
                type:
                  - string
                  - "null"
              zipcode:
                type:
                  - string
                  - "null"
              attention:
                type:
                  - string
                  - "null"
          currency_symbol:
            type:
              - string
              - "null"
          shipping_charge:
            type:
              - number
              - "null"
          reference_number:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          shipping_address:
            type:
              - object
              - "null"
            properties:
              fax:
                type:
                  - string
                  - "null"
              city:
                type:
                  - string
                  - "null"
              phone:
                type:
                  - string
                  - "null"
              state:
                type:
                  - string
                  - "null"
              address:
                type:
                  - string
                  - "null"
              country:
                type:
                  - string
                  - "null"
              street2:
                type:
                  - string
                  - "null"
              zipcode:
                type:
                  - string
                  - "null"
              attention:
                type:
                  - string
                  - "null"
          transaction_type:
            type:
              - string
              - "null"
          write_off_amount:
            type:
              - number
              - "null"
          custom_field_hash:
            type:
              - object
              - "null"
          last_payment_date:
            type:
              - string
              - "null"
          show_no_of_copies:
            type:
              - boolean
              - "null"
          zcrm_potential_id:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          zcrm_potential_name:
            type:
              - string
              - "null"
          ach_payment_initiated:
            type:
              - boolean
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          payment_expected_date:
            type:
              - string
              - "null"
          last_reminder_sent_date:
            type:
              - string
              - "null"
          unprocessed_payment_amount:
            type:
              - number
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: invoice_details
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /invoices/{{ stream_partition.invoice_id }}
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - invoice
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/7"
            parent_key: invoice_id
            partition_field: invoice_id
    primary_key:
      - invoice_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - invoice_id
        properties:
          invoice_id:
            type:
              - string
              - "null"
          line_items:
            type:
              - array
              - "null"
            items:
              type: object
              additionalProperties: true
          customer_id:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: expenses
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /expenses
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - expenses
    primary_key:
      - expense_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - expense_id
          - date
        properties:
          description:
            type:
              - string
              - "null"
          date:
            type: string
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          distance:
            type:
              - number
              - "null"
          bcy_total:
            type:
              - number
              - "null"
          report_id:
            type:
              - string
              - "null"
          user_name:
            type:
              - string
              - "null"
          vendor_id:
            type:
              - string
              - "null"
          expense_id:
            type: string
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          end_reading:
            type:
              - string
              - "null"
          is_billable:
            type:
              - boolean
              - "null"
          is_personal:
            type:
              - boolean
              - "null"
          report_name:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          expense_type:
            type:
              - string
              - "null"
          mileage_rate:
            type:
              - number
              - "null"
          mileage_type:
            type:
              - string
              - "null"
          mileage_unit:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          report_number:
            type:
              - string
              - "null"
          start_reading:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          reference_number:
            type:
              - string
              - "null"
          total_without_tax:
            type:
              - number
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          expense_receipt_name:
            type:
              - string
              - "null"
          bcy_total_without_tax:
            type:
              - number
              - "null"
          paid_through_account_name:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: creditnotes
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /creditnotes
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - creditnotes
    primary_key:
      - creditnote_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - creditnote_id
          - date
        properties:
          date:
            type: string
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          balance:
            type:
              - number
              - "null"
          color_code:
            type:
              - string
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          item_price:
            type:
              - number
              - "null"
          item_total:
            type:
              - number
              - "null"
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          template_id:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          creditnote_id:
            type: string
          currency_code:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          exchange_rate:
            type:
              - number
              - "null"
          item_quantity:
            type:
              - number
              - "null"
          template_type:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          salesperson_id:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          applied_invoices:
            type:
              - string
              - "null"
          item_total_price:
            type:
              - number
              - "null"
          reference_number:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          creditnote_number:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          item_total_without_tax:
            type:
              - number
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: customer_payments
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /customerpayments
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - customerpayments
    primary_key:
      - payment_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - payment_id
          - date
        properties:
          description:
            type:
              - string
              - "null"
          date:
            type: string
          amount:
            type:
              - number
              - "null"
          documents:
            type:
              - string
              - "null"
          account_id:
            type:
              - string
              - "null"
          bcy_amount:
            type:
              - number
              - "null"
          payment_id:
            type: string
          customer_id:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          payment_mode:
            type:
              - string
              - "null"
          payment_type:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          unused_amount:
            type:
              - number
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          payment_number:
            type:
              - string
              - "null"
          payment_status:
            type:
              - string
              - "null"
          tax_account_id:
            type:
              - string
              - "null"
          invoice_numbers:
            type:
              - string
              - "null"
          payment_gateway:
            type:
              - string
              - "null"
          applied_invoices:
            type:
              - array
              - "null"
          last_four_digits:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          tax_account_name:
            type:
              - string
              - "null"
          bcy_unused_amount:
            type:
              - number
              - "null"
          settlement_status:
            type:
              - string
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          bcy_refunded_amount:
            type:
              - number
              - "null"
          product_description:
            type:
              - string
              - "null"
          tax_amount_withheld:
            type:
              - number
              - "null"
          gateway_transaction_id:
            type:
              - string
              - "null"
          payment_mode_formatted:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: purchase_orders
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /purchaseorders
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - purchaseorders
    primary_key:
      - purchaseorder_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - purchaseorder_id
          - date
        properties:
          date:
            type: string
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          receives:
            type:
              - array
              - "null"
          vendor_id:
            type:
              - string
              - "null"
          color_code:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          due_by_days:
            type:
              - string
              - "null"
          due_in_days:
            type:
              - string
              - "null"
          vendor_name:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          order_status:
            type:
              - string
              - "null"
          billed_status:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          delivery_date:
            type:
              - string
              - "null"
          delivery_days:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          price_precision:
            type:
              - string
              - "null"
          purchaseorder_id:
            type: string
          reference_number:
            type:
              - string
              - "null"
          client_viewed_time:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          is_viewed_by_client:
            type:
              - boolean
              - "null"
          purchaseorder_number:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          quantity_yet_to_receive:
            type:
              - number
              - "null"
          quantity_marked_as_received:
            type:
              - number
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: sales_orders
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /salesorders
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - salesorders
    primary_key:
      - salesorder_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - salesorder_id
          - date
        properties:
          date:
            type: string
          email:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          source:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          bcy_total:
            type:
              - number
              - "null"
          color_code:
            type:
              - string
              - "null"
          is_emailed:
            type:
              - boolean
              - "null"
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          due_by_days:
            type:
              - string
              - "null"
          due_in_days:
            type:
              - string
              - "null"
          paid_status:
            type:
              - string
              - "null"
          company_name:
            type:
              - string
              - "null"
          created_time:
            type:
              - string
              - "null"
          order_status:
            type:
              - string
              - "null"
          currency_code:
            type:
              - string
              - "null"
          customer_name:
            type:
              - string
              - "null"
          delivery_date:
            type:
              - string
              - "null"
          salesorder_id:
            type: string
          shipment_date:
            type:
              - string
              - "null"
          shipment_days:
            type:
              - string
              - "null"
          has_attachment:
            type:
              - boolean
              - "null"
          delivery_method:
            type:
              - string
              - "null"
          invoiced_status:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          salesperson_name:
            type:
              - string
              - "null"
          quantity_invoiced:
            type:
              - number
              - "null"
          salesorder_number:
            type:
              - string
              - "null"
          zcrm_potential_id:
            type:
              - string
              - "null"
          current_sub_status:
            type:
              - string
              - "null"
          custom_fields_list:
            type:
              - string
              - "null"
          delivery_method_id:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          pickup_location_id:
            type:
              - string
              - "null"
          zcrm_potential_name:
            type:
              - string
              - "null"
          current_sub_status_id:
            type:
              - string
              - "null"
          total_invoiced_amount:
            type:
              - number
              - "null"
          order_fulfillment_type:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: journals
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /journals
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - journals
    primary_key:
      - journal_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - journal_id
          - journal_date
        properties:
          notes:
            type:
              - string
              - "null"
          total:
            type:
              - number
              - "null"
          status:
            type:
              - string
              - "null"
          bcy_total:
            type:
              - number
              - "null"
          journal_id:
            type: string
          currency_id:
            type:
              - string
              - "null"
          entity_type:
            type:
              - string
              - "null"
          entry_number:
            type:
              - string
              - "null"
          journal_date:
            type: string
          journal_type:
            type:
              - string
              - "null"
          created_by_id:
            type:
              - string
              - "null"
          created_by_name:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: journal_date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"
  - type: DeclarativeStream
    name: taxes
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /settings/taxes
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - taxes
    primary_key:
      - tax_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - tax_id
        properties:
          status:
            type:
              - string
              - "null"
          tax_id:
            type: string
          end_date:
            type:
              - string
              - "null"
          tax_name:
            type:
              - string
              - "null"
          tax_type:
            type:
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          is_editable:
            type:
              - boolean
              - "null"
          is_inactive:
            type:
              - boolean
              - "null"
          is_default_tax:
            type:
              - boolean
              - "null"
          tax_account_id:
            type:
              - string
              - "null"
          tax_percentage:
            type:
              - number
              - "null"
          diff_rate_reason:
            type:
              - string
              - "null"
          tax_specific_type:
            type:
              - string
              - "null"
          tax_specification:
            type:
              - string
              - "null"
          last_modified_time:
            type:
              - string
              - "null"
          output_tax_account_name:
            type:
              - string
              - "null"
        additionalProperties: true
  - type: DeclarativeStream
    name: transactions
    retriever:
      type: SimpleRetriever
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        url_base:
          $ref: "#/definitions/linked/HttpRequester/url_base"
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        path: /banktransactions
        http_method: GET
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - banktransactions
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        required:
          - date
        properties:
          description:
            type:
              - string
              - "null"
          date:
            type: string
          payee:
            type:
              - string
              - "null"
          amount:
            type:
              - number
              - "null"
          source:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          rule_id:
            type:
              - string
              - "null"
          rule_name:
            type:
              - string
              - "null"
          account_id:
            type:
              - string
              - "null"
          currency_id:
            type:
              - string
              - "null"
          customer_id:
            type:
              - string
              - "null"
          account_name:
            type:
              - string
              - "null"
          account_type:
            type:
              - string
              - "null"
          rule_details:
            type:
              - object
              - "null"
          currency_code:
            type:
              - string
              - "null"
          is_rule_exist:
            type:
              - boolean
              - "null"
          transaction_id:
            type:
              - string
              - "null"
          currency_symbol:
            type:
              - string
              - "null"
          debit_or_credit:
            type:
              - string
              - "null"
          price_precision:
            type:
              - number
              - "null"
          running_balance:
            type:
              - string
              - "null"
          reconcile_status:
            type:
              - string
              - "null"
          reference_number:
            type:
              - string
              - "null"
          transaction_type:
            type:
              - string
              - "null"
          exclude_description:
            type:
              - string
              - "null"
          is_auto_categorized:
            type:
              - boolean
              - "null"
          offset_account_code:
            type:
              - string
              - "null"
          offset_account_name:
            type:
              - string
              - "null"
          is_excluded_by_system:
            type:
              - boolean
              - "null"
          imported_transaction_id:
            type:
              - string
              - "null"
          is_paid_via_print_check:
            type:
              - boolean
              - "null"
          is_offsetaccount_matched:
            type:
              - boolean
              - "null"
          running_balance_formatted:
            type:
              - string
              - "null"
          payroll_tax_group_formatted:
            type:
              - string
              - "null"
        additionalProperties: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: date
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config[\"start_date\"] }}"
        datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      datetime_format: "%Y-%m-%d"
      end_time_option:
        type: RequestOption
        field_name: date_end
        inject_into: request_parameter
      start_time_option:
        type: RequestOption
        field_name: date_start
        inject_into: request_parameter
      cursor_datetime_formats:
        - "%Y-%m-%d"

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - region
      - client_id
      - client_secret
      - refresh_token
      - start_date
    properties:
      region:
        type: string
        description: >-
          The region code for the Zoho Books API, such as 'com', 'eu', 'in',
          etc.
        enum:
          - com
          - eu
          - in
          - com.cn
          - com.au
          - jp
          - sa
          - ca
        name: region
        order: 0
        title: Region
      client_id:
        type: string
        name: client_id
        order: 1
        title: OAuth Client ID
        airbyte_secret: true
      start_date:
        type: string
        order: 4
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
      client_secret:
        type: string
        name: client_secret
        order: 2
        title: OAuth Client Secret
        airbyte_secret: true
      refresh_token:
        type: string
        name: refresh_token
        order: 3
        title: OAuth Refresh Token
        airbyte_secret: true
    additionalProperties: true

metadata:
  assist:
    docsUrl: https://www.zoho.com/books/api/v3/introduction/#organization-id
  testedStreams:
    bills:
      hasRecords: true
      streamHash: f32be4adf271ec4446edec3a21a494c642260c09
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    items:
      hasRecords: true
      streamHash: b432a8da76131ebcec07befdf4edbdd6700b8ee0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    taxes:
      hasRecords: true
      streamHash: 03400ffd24119641df67f723ed0cfab3ae533bb9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    users:
      hasRecords: true
      streamHash: d9e629edcb34b446eba2791a5da393207e63fc89
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    banking:
      hasRecords: true
      streamHash: b9e2bba3f33f77fdb7679c25b6ccdd31599ea3cb
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    contacts:
      hasRecords: true
      streamHash: 7901712effab6980f241021ec0b0e2abd725cfb9
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    expenses:
      hasRecords: true
      streamHash: e59abf3239bebc32abdbf2bb0d1513b1fc494d2b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    invoices:
      hasRecords: true
      streamHash: e45a16d5f233f3d740017fb56dca2d020eacfe02
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    journals:
      hasRecords: true
      streamHash: 7985c065327def0ea9d95f2b9080d2cae62bace7
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    estimates:
      hasRecords: true
      streamHash: 29acba17bd66daafdf1e8a5ee674874117415ee0
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    creditnotes:
      hasRecords: true
      streamHash: 179731853fba7d13c3aff8566b8b728fc6460173
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    sales_orders:
      hasRecords: true
      streamHash: 929bab9131c4e3c24e3a846a7b0246cf72504be3
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    transactions:
      hasRecords: true
      streamHash: a1d1a53548470258884121ee2e377455fe041bee
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    organizations:
      hasRecords: true
      streamHash: c8362c3568b1d928f77ce5a4a607abc297c8361b
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    purchase_orders:
      hasRecords: true
      streamHash: f1476c3d92db25a37518202311d32ea94ef9a3de
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    customer_payments:
      hasRecords: true
      streamHash: a4ec9ba1058e97ec38f538add490b148ba563293
      hasResponse: true
      primaryKeysAreUnique: true
      primaryKeysArePresent: true
      responsesAreSuccessful: true
    invoice_details:
      streamHash: e7b9c17f75efa1c7d863efd4b5d1d94b894c1fc2
  autoImportSchema:
    bills: true
    items: true
    taxes: true
    users: true
    banking: true
    contacts: true
    expenses: true
    invoices: true
    journals: true
    estimates: true
    creditnotes: true
    sales_orders: true
    transactions: true
    organizations: true
    purchase_orders: true
    customer_payments: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
